body {
    padding-top: 70px;
}

#tour-overview {
    margin-bottom: 10px;
}

#tour-spot {
    display: none;
}

#tour-end {
    text-align: center;
    display: none;
}

#spot-content img {
    display: none;
}

.walking-tour-info {
    display: none;
}

#map-canvas {
    height: 300px;
}

.adp > div:not(:nth-child(3)) {
    display: none;
}

.adp-placemark {
    display: none;
}
